linkify-it-py==2.2.0
markdown-it-py==4.2.0
mdit-py-plugins==0.6.1
mdurl==0.1.2
platformdirs==4.12.2
pydub==0.25.1
Pygments==2.21.0
rich==15.0.0
textual==8.2.8
tinytag==2.3.2
typing_extensions==4.16.0
